<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1079890126350-6kpq3190v1qs2crj2g59sfsb1kskna94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079890126350-6kpq3190v1qs2crj2g59sfsb1kskna94</string>
	<key>API_KEY</key>
	<string>AIzaSyCa_n9-BVeihK8_GVJGBbuzuBJaicOz4Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>1079890126350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loughlin.CollegeDecision</string>
	<key>PROJECT_ID</key>
	<string>collegedecision-44aea</string>
	<key>STORAGE_BUCKET</key>
	<string>collegedecision-44aea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079890126350:ios:2aab701f9c75064f</string>
	<key>DATABASE_URL</key>
	<string>https://collegedecision-44aea.firebaseio.com</string>
</dict>
</plist>